* {
	margin: 0;

	padding: 0;
}

body {
	display: flex;

	align-items: center;

	justify-content: center;

	height: 100vh;

	background: radial-gradient(circle at top center, #444, #000);
}

#root {
	display: flex;

	overflow: hidden;

	width: 90vw;

	max-width: 660px;

	height: 400px;

	cursor: pointer;

	border-radius: 20px;

	background-position: center;

	background-size: cover;
}

.item {
	position: relative;

	width: 60px;

	margin: 10px;

	cursor: pointer;

	transition: 0.5s cubic-bezier(0.2, 0.32, 0.6, 0.3);

	border-radius: 30px;

	background-position: center;

	background-size: cover;
}

.title {
	position: absolute;

	top: 4px;

	left: 6px;

	color: rgba(255, 255, 255, 0.479);

	font-size: 36px;
}

.item.active {
	flex: 1;

	margin: 0;

	border-radius: 30px;
}

.item .content {
	position: absolute;

	right: 0;

	bottom: 10px;

	left: 40px;

	display: flex;

	overflow: hidden;

	height: 40px;

	margin-right: 40px;

	transition: 0.5s cubic-bezier(0.66, 0.04, 0.53, 0.99);

	opacity: 0;

	color: #fff;
}

.item.active .content {
	opacity: 1;
}
