* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;

	height: 100vh;

	background: radial-gradient(circle at top center, #444, #000);

	justify-content: center;
	align-items: center;
}

#root {
	display: flex;
	overflow: hidden;

	border-radius: 20px;
	width: 90vw;
	max-width: 660px;
	height: 400px;

	background-position: center;
	background-size: cover;

	cursor: pointer;
}

.item {
	position: relative;

	margin: 10px;
	border-radius: 30px;
	width: 60px;

	background-position: center;
	background-size: cover;

	transition: .5s cubic-bezier(.2, .32, .6, .3);

	cursor: pointer;
}

.title {
	position: absolute;
	top: 4px;
	left: 6px;

	font-size: 36px;

	color: rgba(255, 255, 255, .479);
}

.item.active {
	margin: 0;
	border-radius: 30px;

	flex: 1;
}

.item .content {
	display: flex;
	overflow: hidden;

	position: absolute;
	right: 0;
	bottom: 10px;
	left: 40px;

	margin-right: 40px;
	height: 40px;

	color: #fff;

	opacity: 0;

	transition: .5s cubic-bezier(.66, .04, .53, .99);
}

.item.active .content {
	opacity: 1;
}
