body {
	/* 弹性布局 水平、垂直居中 */
	display: flex;

/* 初始化 取消页面元素内外边距 */

	margin: 0;
	padding: 0;

/* 100%窗口高度 */
	height: 100vh;

/* 渐变背景 */

	background: linear-gradient(200deg, #00c6fb, #66a6ff);

	justify-content: center;
	align-items: center;
}

nav ul {
	list-style: none;

	margin: 0;
	padding: 0;
}

nav ul li {
	/* 溢出隐藏 */
	overflow: hidden;

/* 相对定位 */

	position: relative;
	z-index: 1;

	margin: 30px;
	border: 3px solid var(--c);
	border-radius: 10px;
	width: 240px;
	height: 60px;

	font-weight: bold;
	line-height: 60px;
	text-align: center;

/* 通过var函数调用自定义属性--c */

	color: var(--c);

/* 动画过渡 */

	transition: .5s;

	cursor: pointer;

/* 自定义属性--c */

	--c: #fff;
}

nav ul li:hover {
	color: #222;
	/* box-shadow: inset 0 0 0 1px var(--c); */
}

nav ul li span {
	/* 绝对定位 */
	position: absolute;

/* 通过var函数调用自定义属性--n，结合calc函数计算得出left的值 */
	left: calc((var(--n) - 1) * 25%);
	z-index: -1;

	border-radius: 50%;
	width: 25%;
	height: 100%;

	background-color: var(--c);

	transition: .5s;

/* 计算得出动画延迟时间 */
	transition-delay: calc((var(--n) - 1) * .1s);

/* 先沿Y轴下移，移出按钮范围 */
	transform: translateY(150%);
}

nav ul li:hover span {
	/* 沿Y轴上移并放大 */
	transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
	/* 自定义属性 */
	--n: 1;
}

nav ul li span:nth-child(2) {
	--n: 2;
}

nav ul li span:nth-child(3) {
	--n: 3;
}

nav ul li span:nth-child(4) {
	--n: 4;
}
