* {
	/* 初始化 */
	margin: 0;
	padding: 0;
}

body {
	/* 弹性布局 水平+垂直居中 */
	display: flex;

/* 100%窗口高度 */

	min-height: 100vh;

	background-color: #353540;

	justify-content: center;
	align-items: center;
}

.root {
	display: flex;

	width: 100%;
	max-width: 1200px;
}

.card {
	/* 相对定位 */
	position: relative;

	margin: 0 20px;
	height: 460px;

/* 自动放大占满剩余空间 */

	flex: 1;

/* 设置视距 */
	perspective: 1000px;
}

/* 投影效果 */
.card::before {
	/* 绝对定位 */
	position: absolute;
	top: 5%;
	left: 5%;

	width: 90%;
	height: 90%;

	background-color: rgba(0, 0, 0, .5);

	opacity: 1;

/* 投影 */
	box-shadow: 0 6px 12px 12px rgba(0, 0, 0, .4);

/* 设置过渡:时长 加速后减速 */

	transition: .3s ease-in-out;

/* 设置旋转元素的基点位置 */
	transform-origin: top center;

	content: '';
}

/* 鼠标移上,投影的变化 */
.card:hover::before {
	opacity: .6;

	transform: rotateX(7deg) translateY(-6px) scale(1.05);
}

/* 封面 */
.card-cover {
	/* 溢出隐藏 */
	overflow: hidden;

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-position: center;
	background-size: cover;

/* 设置过渡 */

	transition: transform .35s ease-in-out;

/* 设置旋转元素的基点位置 */
	transform-origin: top center;

/* 开启3D */

	transform-style: preserve-3d;
}

.card-cover::after {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 120%;

/* 背景渐变(高光效果) */

	background: linear-gradient(
	226deg,
	rgba(255, 255, 255, 0) 40%,
	rgba(255, 255, 255, .3) 50%,
	rgba(255, 255, 255, 0) 60%
	);

/* 设置过渡 */

	transition: transform .85s cubic-bezier(.165, .84, .44, 1);

/* 默认上移出可视范围 */
	transform: translateY(-100%);

	content: '';
}

.card:hover .card-cover {
	transform: translateY(-16px) translateX(14px);
}

.card:hover .card-cover::after {
	transform: translateY(100%);
}
