* {
	margin: 0;

	padding: 0;
}

#root {
	position: absolute;

	width: 100%;

	height: 100%;
}

ul.block {
	display: flex;

	flex-direction: row;

	height: 100%;

	margin: 0;

	padding: 0;

	list-style: none;
}

ul.block li {
	position: relative;

	overflow: hidden;

	flex: 1;
}

ul.block:hover li::after {
	transform: translateY(-100%);
}

ul.block li::after {
	position: absolute;

	top: 0;

	left: 0;

	width: 100vw;

	height: 100vh;

	content: "";

	transition: all 1s ease-in-out;

	background-image: url(/assects/img/3.png);

	background-size: cover;
}

ul.block li:nth-child(2)::after {
	left: -100%;

	transition-delay: 0.1s;
}

ul.block li:nth-child(3)::after {
	left: -200%;

	transition-delay: 0.12s;
}

ul.block li:nth-child(4)::after {
	left: -300%;

	transition-delay: 0.14s;
}

ul.block li:nth-child(5)::after {
	left: -400%;

	transition-delay: 0.16s;
}

ul.block li:nth-child(6)::after {
	left: -500%;

	transition-delay: 0.18s;
}

ul.block li:nth-child(7)::after {
	left: -600%;

	transition-delay: 0.2s;
}

ul.block li:nth-child(8)::after {
	left: -700%;

	transition-delay: 0.22s;
}

ul.block li:nth-child(9)::after {
	left: -800%;

	transition-delay: 0.23s;
}

ul.block li:nth-child(10)::after {
	left: -900%;

	transition-delay: 0.24s;
}
