* {
	/* 初始化 */
	margin: 0;

	padding: 0;
}

body {
	/* 弹性布局 居中 */
	display: flex;

	align-items: center;

	justify-content: center;

	height: 100vh;

	background-color: var(--bg-color);

	/* 自定义属性（变量），通过var函数进行调用 */

	--bg-color: #161616;
}

.root {
	/* 弹性布局 */
	display: flex;

	/* 平均分配宽度给每一个子元素 */
	flex-wrap: wrap;

	justify-content: space-evenly;

	width: 700px;
}

.snowy,
.thunder-storm,
.shower,
.item {
	/* 相对定位 */
	position: relative;

	display: flex;

	align-items: center;

	justify-content: center;

	width: 100px;

	height: 100px;

	margin: 26px;
}

/* 云朵 */
.cloud {
	/* 绝对定位 */
	position: absolute;

	width: 60px;

	height: 60px;

	border-radius: 50%;

	background-color: var(--bg-color);

	/* 阴影：水平位置 垂直位置 模糊距离 阴影大小 阴影颜色 */
	box-shadow: -35px 11px 0 -11px var(--bg-color), 33px 15px 0 -15px var(--bg-color), 0 0 0 6px lightgray,
		-35px 11px 0 -5px lightgray, 33px 15px 0 -9px lightgray;

	/* --bg-color: red; */
}

/* 让云朵下边为直边 */
.cloud::after {
	position: absolute;

	bottom: 0;

	left: -8px;

	width: 73px;

	height: 16px;

	content: "";

	background-color: var(--bg-color);

	box-shadow: 0 6px 0 0 lightgray;
}

/* 云朵下边的镂空区域 */
.snow,
.lightning,
.rain {
	position: absolute;

	top: 55%;

	left: 20%;

	width: 60px;

	height: 60px;

	background-color: var(--bg-color);
}

.clouds {
	position: absolute;

	top: 26%;

	left: 8%;

	width: 60px;

	height: 60px;

	transform: scale(0.9);

	background-color: var(--bg-color);
}

/* 雪花 */
.snow span::before,
.snow span::after {
	position: absolute;

	top: 50%;

	left: 50%;

	margin-top: -16px;

	margin-left: -16px;

	content: "\2745";

	/* 执行动画：动画名 时长 线性的 无限次播放 */
	animation: spin 6s linear infinite;

	opacity: 0.2;

	color: #fff;
}

.snow span::after {
	margin-top: 2px;

	margin-left: -26px;

	/* 执行动画：动画名 时长 线性的 无限次播放 反向的 */

	animation: spin 12s linear infinite reverse;

	opacity: 0.4;

	font-size: 24px;
}

.snow span:nth-child(2)::before {
	margin-top: -9px;

	margin-left: 4px;

	/* 执行动画：动画名 时长 线性的 无限次播放 */

	animation: spin 8s linear infinite;

	opacity: 0.2;

	font-size: 20px;
}

.snow span:nth-child(2)::after {
	margin-top: 10px;

	margin-left: 1px;

	/* 执行动画：动画名 时长 线性的 无限次播放 反向的 */

	animation: spin 14s linear infinite reverse;

	opacity: 0.4;

	font-size: 32px;
}

/* 闪电 */
.lightning span {
	position: absolute;

	top: 50%;

	left: 50%;

	margin-top: -4px;

	margin-left: -2px;

	/* 执行动画 */

	animation: lightning 2s linear infinite;

	opacity: 0.3;

	color: #fff;
}

.lightning span:nth-child(2) {
	width: 8px;

	height: 4px;

	margin-top: 8px;

	margin-left: 10px;

	/* 设置第二个闪电的动画时长短一点 */

	animation-duration: 1.5s;

	opacity: 0.2;
}

.lightning span::before,
.lightning span::after {
	position: absolute;

	top: 50%;

	left: 50%;

	margin-top: -26px;

	margin-left: -16px;

	content: "";

	transform: skewX(-10deg);

	border-top: 20px solid transparent;

	/* currentColor表示当前color的值，这里为#fff */
	border-right: 12px solid currentColor;

	border-bottom: 12px solid currentColor;

	border-left: 8px solid transparent;
}

.lightning span::after {
	margin-top: -4px;

	margin-left: -4px;

	border-top: 12px solid currentColor;

	border-right: 8px solid transparent;

	border-bottom: 20px solid transparent;

	border-left: 12px solid currentColor;
}

.lightning span:nth-child(2) {
	transform: scale(0.5);
}

/* 阵雨的雨滴区域偏右一点 */
.shower .rain {
	right: 10px;

	left: auto;
}

/* 太阳 */

.item .sun {
	position: absolute;

	z-index: -1;

	width: 40px;

	height: 40px;

	animation: spin 12s linear infinite;

	border-radius: 50%;

	background-color: var(--bg-color);

	box-shadow: 0 0 0 6px orange;
}

/* 光线 */
.item .sun .rays {
	position: absolute;

	top: -32px;

	left: 50%;

	width: 6px;

	height: 18px;

	transform: translateX(-50%);

	border-radius: 4px;

	background-color: yellow;

	box-shadow: 0 86px yellow;
}

.item .sun .rays::before,
.item .sun .rays::after {
	position: absolute;

	top: 0;

	left: 0;

	width: 6px;

	height: 18px;

	content: "";

	transform: rotate(60deg);

	transform-origin: 50% 52px;

	border-radius: 4px;

	background-color: yellow;

	box-shadow: 0 86px yellow;
}

.item .sun .rays::after {
	transform: rotate(-60deg);
}

.shower .min-sun {
	position: absolute;

	z-index: -1;

	top: 18px;

	right: -4px;

	width: 40px;

	height: 40px;

	animation: spin 12s linear infinite;

	border-radius: 50%;

	background-color: var(--bg-color);

	box-shadow: 0 0 0 6px rgb(206, 140, 18);
}

/* 光线 */
.shower .min-sun .rays {
	position: absolute;

	top: -32px;

	left: 50%;

	width: 6px;

	height: 18px;

	transform: translateX(-50%);

	border-radius: 4px;

	background-color: rgba(219, 219, 48, 0.712);

	box-shadow: 0 86px rgba(219, 219, 48, 0.712);
}

.shower .min-sun .rays::before,
.shower .min-sun .rays::after {
	position: absolute;

	top: 0;

	left: 0;

	width: 6px;

	height: 18px;

	content: "";

	transform: rotate(60deg);

	transform-origin: 50% 52px;

	border-radius: 4px;

	background-color: rgba(219, 219, 48, 0.712);

	box-shadow: 0 86px rgba(219, 219, 48, 0.712);
}

.shower .min-sun .rays::after {
	transform: rotate(-60deg);
}

.shower .rain::after {
	position: absolute;

	top: 50%;

	left: 50%;

	width: 18px;

	height: 18px;

	margin-top: -16px;

	margin-left: -4px;

	content: "";

	transform: rotate(-28deg);

	animation: rain 3s linear infinite;

	border-radius: 100% 0 60% 50% / 60% 0 100% 50%;

	background-color: #0cf;

	box-shadow: 10px 14px 0 -2px rgba(255, 255, 255, 0.2), -14px 18px 0 -2px rgba(255, 255, 255, 0.2),
		-22px -2px 0 rgba(255, 255, 255, 0.2);
}

/* 定义动画 */
@keyframes spin {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes lightning {
	45% {
		opacity: 0.2;

		color: #fff;
	}

	50% {
		opacity: 1;

		color: #0cf;
	}

	55% {
		opacity: 0.2;

		color: #fff;
	}
}

@keyframes rain {
	0% {
		background-color: #0cf;

		box-shadow: 10px 14px 0 -2px rgba(255, 255, 255, 0.2), -14px 18px 0 -2px rgba(255, 255, 255, 0.2),
			-22px -2px 0 #0cf;
	}

	25% {
		box-shadow: 10px 14px 0 -2px rgba(255, 255, 255, 0.2), -14px 18px 0 -2px #0cf,
			-22px -2px 0 rgba(255, 255, 255, 0.2);
	}

	50% {
		background-color: rgba(255, 255, 255, 0.2);

		box-shadow: 10px 14px 0 -2px #0cf, -14px 18px 0 -2px rgba(255, 255, 255, 0.2),
			-22px -2px 0 rgba(255, 255, 255, 0.2);
	}

	100% {
		box-shadow: 10px 14px 0 -2px rgba(255, 255, 255, 0.2), -14px 18px 0 -2px rgba(255, 255, 255, 0.2),
			-22px -2px 0 #0cf;
	}
}
